<!-- -->
<launch>

	<arg name="record_bag" default="true" />

	<include file="$(find pcl_filters)/launch/pcl_filters.launch" >
		<arg name="pointcloud" 			value="point_map" /> <!--point_map  /rtabmap/cloud_map-->
		<arg name="prefix" 				value="indires_rover" />
	</include>

   <!--Rviz tool visualizer 
   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find upo_launchers)/rrt_navigation.rviz" /-->

     <!-- launch-prefix="xterm -e gdb (doble hyphen)args"-->
	 <node pkg="rrt_planners" type="rrt_ros_wrapper_node" name="rrt_ros_wrapper_node" output="screen" >

		<rosparam file="$(find rrt_planners)/launch/navigation_params.yaml" command="load" />

	</node>

	<node if="$(arg record_bag)" pkg="rosbag" type="record" name="rosbag_record" args="record -o /home/indires/Escritorio/exploration /tf /indires_rover/odom_filtered " /> <!--/point_map-->


</launch>
